<template>
    <div class="main">
        <Sidebar></Sidebar>
        <div class="pageWrapper">
            <Header></Header>
            <div class="contentWrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2 class="pageTittle">Manange Patients</h2>
                        </div>
                        <div class="col-sm-6 text-end">
                            <button class="btn primaryBtn" data-bs-toggle="modal" data-bs-target="#exampleModal">Add New
                                Patient</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive commonTable">
   
   <table class="table table-hover table-bordered" id="example">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Ip Address</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="user in users" :key="user.id">
        <td>{{user.id}}</td>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.ip_address}}</td>
      </tr>
      
    </tbody>
  </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl modal-fullscreen-xl-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Patients</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="min-height:380px;">
                    <div class="stepper">
                        <div class="stepperHead">
                            <div class="step active">
                                <div class="stepTitle">
                                    <div class="title">Demographics</div>
                                </div>
                                <div class="stepperCard">
                                    <div class="stepperBody">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Full Name</label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Nick Name</label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Date of Birth</label>
                                                    <input type="text" class="form-control datepicker"
                                                        placeholder="Select Date">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Gender</label>
                                                    <select class="form-select">
                                                        <option value="0" selected> Choose </option>
                                                        <option value="0"> Male </option>
                                                        <option value="0"> Female </option>
                                                        <option value="0"> Others </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Weight</label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Height</label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <input type="email" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Phone No.</label>
                                                    <input type="number" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Country</label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>State</label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>City</label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Zipcode</label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label>Address</label>
                                                    <textarea class="form-control" name="" id="" cols="30"
                                                        rows="3"></textarea>
                                                </div>
                                            </div>

                                            <div class="col-sm-12">
                                                <div class="formHeading">
                                                    <h2>Primary Family Member</h2>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Full Name</label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Gender</label>
                                                    <select class="form-select">
                                                        <option value="0" selected> Choose </option>
                                                        <option value="0"> Male </option>
                                                        <option value="0"> Female </option>
                                                        <option value="0"> Others </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Email Address</label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Phone Number</label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Relation</label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <!---->
                                        </div>
                                    </div>
                                    <div class="stepperFooter">
                                        <button class="btn next primaryBtn">Next</button>
                                    </div>
                                </div>
                            </div>
                            <div class="step">
                                <div class="stepTitle">
                                    <div class="title">Conditions</div>
                                </div>
                                <div class="stepperCard">
                                    <div class="stepperBody">
                                        <div class="row mb-2">
                                            <div class="col-sm-12">
                                                <div class="formHeading">
                                                    <h2>Health Conditions</h2>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="checkBox">
                                                    <label class="checkInput">Congestive Health Failure
                                                        <input type="checkbox" checked="checked">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="checkBox">
                                                    <label class="checkInput">COPD
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="checkBox">
                                                    <label class="checkInput">Chronic Kidney Disease
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="checkBox">
                                                    <label class="checkInput">Cardiovascular Disease
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="checkBox">
                                                    <label class="checkInput">Depression
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="checkBox">
                                                    <label class="checkInput">Diabetes
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="checkBox">
                                                    <label class="checkInput">Hyper Tension
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="checkBox">
                                                    <label class="checkInput">Stroke
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="checkBox">
                                                    <label class="checkInput">Other
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="formHeading">
                                                    <h2>Primary Physician</h2>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Designation</label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Phone No.</label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="stepperFooter">
                                        <button class="btn back">Back</button>
                                        <button class="btn next primaryBtn">Next </button>
                                    </div>
                                </div>
                            </div>
                            <div class="step">
                                <div class="stepTitle">
                                    <div class="title">Programs</div>
                                </div>
                                <div class="stepperCard">
                                    <div class="stepperBody">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Programs</label>
                                                    <select class="form-select">
                                                        <option value="0" selected> Choose Program</option>
                                                        <option value="1">Program 1</option>
                                                        <option value="2">Program 2</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label>Start Date</label>
                                                    <input type="text" class="form-control datepicker"
                                                        placeholder="Select Date">
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label>End Date</label>
                                                    <input type="text" class="form-control datepicker"
                                                        placeholder="Select Date">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Status </label>
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <div class="radioForm">
                                                                <label class="radioInput">Active
                                                                    <input type="radio" checked="checked" name="radio">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="radioForm">
                                                                <label class="radioInput">Inactive
                                                                    <input type="radio" name="radio">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group text-end">
                                                    <button class="btn primaryBtn">Add</button>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="table-responsive commonTable">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Program Name</th>
                                                                <th>Start Date</th>
                                                                <th>End Date</th>
                                                                <th>Status</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Program 1</td>
                                                                <td>Nov 12, 2021</td>
                                                                <td>Dec 20, 2021</td>
                                                                <td>Active</td>
                                                                <td>
                                                                    <ul class="action">
                                                                        <li><a href="#" class="link-success"><i
                                                                                    class="fa fa-pencil"
                                                                                    aria-hidden="true"></i></a></li>
                                                                        <li><a href="#" class="link-danger"><i
                                                                                    class="fa fa-trash"
                                                                                    aria-hidden="true"></i></a></li>
                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Program 2</td>
                                                                <td>Nov 22, 2021</td>
                                                                <td>Dec 28, 2021</td>
                                                                <td>InActive</td>
                                                                <td>
                                                                    <ul class="action">
                                                                        <li><a href="#" class="link-success"><i
                                                                                    class="fa fa-pencil"
                                                                                    aria-hidden="true"></i></a></li>
                                                                        <li><a href="#" class="link-danger"><i
                                                                                    class="fa fa-trash"
                                                                                    aria-hidden="true"></i></a></li>
                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="stepperFooter">
                                        <button class="btn back">Back</button>
                                        <button class="btn next primaryBtn">Next </button>
                                    </div>
                                </div>
                            </div>
                            <div class="step">
                                <div class="stepTitle">
                                    <div class="title">Assessments</div>
                                </div>
                                <div class="stepperCard">
                                    <div class="stepperBody">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="formHeading">
                                                    <h2>Blood Pressure</h2>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Systolic</label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Diastolic</label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="formHeading">
                                                    <h2>Pulse</h2>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>BPM</label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="formHeading">
                                                    <h2>Blood Oxygen Saturation</h2>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>SPO2</label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="formHeading">
                                                    <h2>Glucose</h2>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Fasting Blood Sugar</label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Random Blood Sugar</label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                    <div class="stepperFooter">
                                        <button class="btn back">Back</button>
                                        <button class="btn next primaryBtn">Next </button>
                                    </div>
                                </div>
                            </div>
                            <div class="step">
                                <div class="stepTitle">
                                    <div class="title">Clinical Data</div>
                                </div>
                                <div class="stepperCard">
                                    <div class="stepperBody">
                                        <div class="row mb-3">
                                            <div class="col-sm-12">
                                                <div class="formHeading">
                                                    <h2>Medicine History</h2>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label>Medical History</label>
                                                    <textarea class="form-control"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group text-end">
                                                    <button class="btn primaryBtn">Add</button>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="table-responsive commonTable">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>History</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Program 1</td>
                                                                <td>
                                                                    <ul class="action">
                                                                        <li><a href="#" class="link-success"><i
                                                                                    class="fa fa-pencil"
                                                                                    aria-hidden="true"></i></a></li>
                                                                        <li><a href="#" class="link-danger"><i
                                                                                    class="fa fa-trash"
                                                                                    aria-hidden="true"></i></a></li>
                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Program 2</td>
                                                                <td>
                                                                    <ul class="action">
                                                                        <li><a href="#" class="link-success"><i
                                                                                    class="fa fa-pencil"
                                                                                    aria-hidden="true"></i></a></li>
                                                                        <li><a href="#" class="link-danger"><i
                                                                                    class="fa fa-trash"
                                                                                    aria-hidden="true"></i></a></li>
                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-sm-12">
                                                <div class="formHeading">
                                                    <h2>Medicine Routine</h2>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Medicine</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Routine</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group text-end">
                                                    <button class="btn primaryBtn">Add</button>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="table-responsive commonTable">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Program Name</th>
                                                                <th>Start Date</th>
                                                                <th>End Date</th>
                                                                <th>Status</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Program 1</td>
                                                                <td>Nov 12, 2021</td>
                                                                <td>Dec 20, 2021</td>
                                                                <td>Active</td>
                                                                <td>
                                                                    <ul class="action">
                                                                        <li><a href="#" class="link-success"><i
                                                                                    class="fa fa-pencil"
                                                                                    aria-hidden="true"></i></a></li>
                                                                        <li><a href="#" class="link-danger"><i
                                                                                    class="fa fa-trash"
                                                                                    aria-hidden="true"></i></a></li>
                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Program 2</td>
                                                                <td>Nov 22, 2021</td>
                                                                <td>Dec 28, 2021</td>
                                                                <td>InActive</td>
                                                                <td>
                                                                    <ul class="action">
                                                                        <li><a href="#" class="link-success"><i
                                                                                    class="fa fa-pencil"
                                                                                    aria-hidden="true"></i></a></li>
                                                                        <li><a href="#" class="link-danger"><i
                                                                                    class="fa fa-trash"
                                                                                    aria-hidden="true"></i></a></li>
                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="stepperFooter">
                                        <button class="btn back">Back</button>
                                        <button class="btn next primaryBtn">Next </button>
                                    </div>
                                </div>
                            </div>
                            <div class="step">
                                <div class="stepTitle">
                                    <div class="title">Billing</div>
                                </div>
                                <div class="stepperCard">
                                    <div class="stepperBody">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Insurance Id</label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Insurance Type</label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Expiry Date</label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="stepperFooter">
                                        <button class="btn back">Back</button>
                                        <button class="btn next primaryBtn">Next </button>
                                    </div>
                                </div>
                            </div>
                            <div class="step">
                                <div class="stepTitle">
                                    <div class="title">Documents </div>
                                </div>
                                <div class="stepperCard">
                                    <div class="stepperBody">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Document</label>
                                                    <input type="file" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Type</label>
                                                    <select class="form-select">
                                                        <option value="0" selected> Choose Type</option>
                                                        <option value="1">Id Proof</option>
                                                        <option value="2">Clinical</option>
                                                        <option value="3">Insurance </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Tags</label>
                                                    <select class="form-control tags w-100" multiple="multiple">
                                                        <option selected="selected">Tag One</option>
                                                        <option>Tag Two</option>
                                                        <option selected="selected">Tag Three</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group text-end">
                                                    <button class="btn primaryBtn">Add</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="table-responsive commonTable">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Document</th>
                                                                <th>Type </th>
                                                                <th>Tags </th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Program 1</td>
                                                                <td>abc.pdf</td>
                                                                <td>Voter Id</td>
                                                                <td>Voter Id</td>
                                                                <td>
                                                                    <ul class="action">
                                                                        <li><a href="#" class="link-success"><i
                                                                                    class="fa fa-pencil"
                                                                                    aria-hidden="true"></i></a></li>
                                                                        <li><a href="#" class="link-danger"><i
                                                                                    class="fa fa-trash"
                                                                                    aria-hidden="true"></i></a></li>
                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Program 1</td>
                                                                <td>abc.pdf</td>
                                                                <td>Voter Id</td>
                                                                <td>Voter Id</td>
                                                                <td>
                                                                    <ul class="action">
                                                                        <li><a href="#" class="link-success"><i
                                                                                    class="fa fa-pencil"
                                                                                    aria-hidden="true"></i></a></li>
                                                                        <li><a href="#" class="link-danger"><i
                                                                                    class="fa fa-trash"
                                                                                    aria-hidden="true"></i></a></li>
                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="stepperFooter">
                                        <button class="btn back">Back</button>
                                        <button class="btn save primaryBtn">Save </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
             <button type="button" class="btn primaryBtn" data-bs-dismiss="modal">Save</button>
          </div> -->
            </div>
        </div>
    </div>
</template>
<script>
    import { createApp } from 'vue'
    import Header from "@/components/Layout/Header.vue";
    import Sidebar from "@/components/Layout/Sidebar.vue";
    import App from '../../App.vue'
    import UserService from "../../services/user.service.js"
    import "datatables.net-dt/js/dataTables.dataTables"
import "datatables.net-dt/css/jquery.dataTables.min.css"
import "datatables.net-buttons/js/dataTables.buttons.js"
import "datatables.net-buttons/js/buttons.colVis.js"
import "datatables.net-buttons/js/buttons.flash.js"
import "datatables.net-buttons/js/buttons.html5.js"
import "datatables.net-buttons/js/buttons.print.js"
import $ from 'jquery'
    createApp(App).use(Header);
    export default {
        name: 'ManagePatients',
        components: {
            Header,
            Sidebar,
           
        },
     
                data() {
                    return {
        users: [{
        "id": 1,
        "first_name": "Misti",
        "last_name": "Strase",
        "email": "mstrase0@instagram.com",
        "gender": "Non-binary",
        "ip_address": "151.38.32.165"
    },
    {
        "id": 2,
        "first_name": "Valentina",
        "last_name": "Bonas",
        "email": "vbonas1@is.gd",
        "gender": "Agender",
        "ip_address": "103.10.225.246"
    },
    {
        "id": 3,
        "first_name": "Harriot",
        "last_name": "Sperski",
        "email": "hsperski2@intel.com",
        "gender": "Male",
        "ip_address": "129.200.82.11"
    },
    {
        "id": 4,
        "first_name": "Egbert",
        "last_name": "Fogden",
        "email": "efogden3@si.edu",
        "gender": "Genderqueer",
        "ip_address": "12.0.191.150"
    },
    {
        "id": 5,
        "first_name": "Robenia",
        "last_name": "Lilliman",
        "email": "rlilliman4@cmu.edu",
        "gender": "Bigender",
        "ip_address": "201.9.121.182"
    },
    {
        "id": 6,
        "first_name": "Norby",
        "last_name": "Tamburi",
        "email": "ntamburi5@sakura.ne.jp",
        "gender": "Agender",
        "ip_address": "135.122.0.176"
    },
    {
        "id": 7,
        "first_name": "Genovera",
        "last_name": "Rodwell",
        "email": "grodwell6@youtube.com",
        "gender": "Non-binary",
        "ip_address": "20.253.81.95"
    },
    {
        "id": 8,
        "first_name": "Sinclair",
        "last_name": "Showell",
        "email": "sshowell7@imdb.com",
        "gender": "Genderqueer",
        "ip_address": "240.214.146.150"
    },
    {
        "id": 9,
        "first_name": "Timothee",
        "last_name": "Oger",
        "email": "toger8@cnbc.com",
        "gender": "Genderqueer",
        "ip_address": "134.79.160.170"
    },
    {
        "id": 10,
        "first_name": "Cosetta",
        "last_name": "Cousen",
        "email": "ccousen9@oaic.gov.au",
        "gender": "Bigender",
        "ip_address": "159.26.98.195"
    },
    {
        "id": 11,
        "first_name": "Eward",
        "last_name": "Sole",
        "email": "esolea@histats.com",
        "gender": "Female",
        "ip_address": "61.99.245.53"
    },
    {
        "id": 12,
        "first_name": "Alastair",
        "last_name": "Bello",
        "email": "abellob@blogger.com",
        "gender": "Male",
        "ip_address": "4.84.129.207"
    },
    {
        "id": 13,
        "first_name": "Velvet",
        "last_name": "Odom",
        "email": "vodomc@digg.com",
        "gender": "Polygender",
        "ip_address": "111.3.168.1"
    },
    {
        "id": 14,
        "first_name": "Diannne",
        "last_name": "Bloxland",
        "email": "dbloxlandd@google.com.au",
        "gender": "Agender",
        "ip_address": "153.65.158.248"
    },
    {
        "id": 15,
        "first_name": "Rubia",
        "last_name": "Cobson",
        "email": "rcobsone@goodreads.com",
        "gender": "Male",
        "ip_address": "27.229.201.137"
    },
    {
        "id": 16,
        "first_name": "Grange",
        "last_name": "Waleran",
        "email": "gwaleranf@sitemeter.com",
        "gender": "Genderfluid",
        "ip_address": "137.50.247.251"
    },
    {
        "id": 17,
        "first_name": "Natty",
        "last_name": "Seller",
        "email": "nsellerg@dagondesign.com",
        "gender": "Male",
        "ip_address": "117.100.214.219"
    },
    {
        "id": 18,
        "first_name": "Gerhard",
        "last_name": "Fetherstone",
        "email": "gfetherstoneh@e-recht24.de",
        "gender": "Bigender",
        "ip_address": "160.126.243.174"
    },
    {
        "id": 19,
        "first_name": "Broddie",
        "last_name": "Roper",
        "email": "broperi@nature.com",
        "gender": "Male",
        "ip_address": "32.174.131.236"
    },
    {
        "id": 20,
        "first_name": "Violette",
        "last_name": "Maudett",
        "email": "vmaudettj@scientificamerican.com",
        "gender": "Agender",
        "ip_address": "234.158.45.215"
    },
    {
        "id": 21,
        "first_name": "Ingmar",
        "last_name": "Kyme",
        "email": "ikymek@a8.net",
        "gender": "Polygender",
        "ip_address": "246.220.100.50"
    },
    {
        "id": 22,
        "first_name": "Rosalie",
        "last_name": "Meo",
        "email": "rmeol@answers.com",
        "gender": "Male",
        "ip_address": "163.164.249.16"
    },
    {
        "id": 23,
        "first_name": "Cammi",
        "last_name": "Whitwell",
        "email": "cwhitwellm@bloglovin.com",
        "gender": "Genderfluid",
        "ip_address": "136.205.204.225"
    },
    {
        "id": 24,
        "first_name": "Taryn",
        "last_name": "Gerardi",
        "email": "tgerardin@usnews.com",
        "gender": "Female",
        "ip_address": "245.66.226.113"
    },
    {
        "id": 25,
        "first_name": "Ettie",
        "last_name": "Brunskill",
        "email": "ebrunskillo@japanpost.jp",
        "gender": "Polygender",
        "ip_address": "141.71.5.149"
    },
    {
        "id": 26,
        "first_name": "Jena",
        "last_name": "Mingardo",
        "email": "jmingardop@ucla.edu",
        "gender": "Polygender",
        "ip_address": "44.110.135.50"
    },
    {
        "id": 27,
        "first_name": "Hyatt",
        "last_name": "Paunton",
        "email": "hpauntonq@smugmug.com",
        "gender": "Bigender",
        "ip_address": "150.253.235.13"
    }]
    };
        },

        computed:{
        },
        mounted() {
            setTimeout(function(){
      $('#example').DataTable(
          {
              pagingType: 'full_numbers',
                pageLength: 5,
                processing: true,
                dom: 'Bfrtip',
                    buttons: ['copy', 'csv', 'print'
                    ]
          }
      );
      },
        1000
        );
            UserService.getUserBoard().then(
      (response) => {
          console.log(response.data)
        this.data = response.data;
      },
      (error) => {
        this.content =
          (error.response &&
            error.response.data &&
            error.response.data.message) ||
          error.message ||
          error.toString();
      }
    );
        },

        methods: {
   
  }
    };
</script>