<template>
  <div class="main">
      <Sidebar></Sidebar>
      <div class="pageWrapper">
        <Header></Header>
        <div class="contentWrapper appointmentCalendar">
          <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                    <h2 class="pageTittle">Appointment Calendar</h2>
                </div>
                <div class="col-sm-6 text-end">
                    <button class="btn primaryBtn fullCalendarBtn">Full Calendar View</button>
                    <button class="btn primaryBtn HideCalendarBtn d-none">Hide Full Calendar View</button>
                </div>
              </div>
              <div class="row">
                <!-- Left Calendar -->
                <div class="col-sm-3 leftCalendarView">
                  <div class="text-center mb-3">
                    <button class="btn primaryBtn" data-bs-toggle="modal" data-bs-target="#exampleModal"> <i class="fa fa-plus"></i> New Appoinment</button>
                  </div>
                  <div class="calendar">
                    <datepicker
                      v-model="selectedDate"
                      :inline="true"
                      :value="defaultValue"
                      maximum-view="month"
                      @selected="handleSelectDate"
                    />
                  </div>
                  <div class="doctors">
                    <p class="title">Physicians</p>
                    <ul>
                        <li>
                          <div class="img">
                              <img src="assets/images/profile-1.jpg" alt="">
                              <div class="check one">
                                <span>&check;</span>
                              </div>

                          </div>
                          <p>Jane Doe</p>
                        </li>
                        <li>
                          <div class="img">
                              <img src="assets/images/profile-2.jpg" alt="">
                              <div class="check two">
                                <span>&check;</span>
                              </div>
                          </div>
                          <p>Steve Smith</p>
                        </li>
                        <li>
                          <div class="img">
                              <img src="assets/images/profile-3.jpg" alt="">
                              <div class="check three">
                                <span>&check;</span>
                              </div>

                          </div>
                          <p>Joseph Spouse</p>
                        </li>
                        <li>
                          <div class="img">
                              <img src="assets/images/profile-4.jpg" alt="">
                              <div class="check four">
                                <span>&check;</span>
                              </div>

                          </div>
                          <p>Robert Henry</p>
                        </li>
                    </ul>
                  </div>
                </div>
                <!-- Right Calendar -->
                <div class="col-sm-9 rightCalendarView">
                  <vue-cal
                    style="height: 500px"
                    active-view="day"
                    timeCellHeight="80"
                    :selected-date="selectedDate"
                    :time-from="8 * 60"
                    :time-to="18 * 60"
                    timeFormat="hh:mm AM"
                    :disable-views="['years', 'year']"
                    :events="events">
                  </vue-cal>
                </div>
              </div>
          </div>
        </div>
      </div>
   </div>
  <Modal></Modal>
</template>

<script>
import { createApp } from 'vue'
import Header from "@/components/Layout/Header.vue";
import Sidebar from "@/components/Layout/Sidebar.vue";
import Modal from "@/components/Common/Modal.vue";
// import SmallCalendar from "@/components/Common/SmallCalendar.vue";
// import LargeCalendar from "@/components/Common/LargeCalendar.vue";
import Datepicker from 'vuejs3-datepicker';
import { ref } from 'vue';
import App from '../../App.vue'
import VueCal from 'vue-cal'
import 'vue-cal/dist/vuecal.css'
import events from '../../../public/assets/json/events.json';
import moment from 'moment'
createApp(App).use(Header);
  export default {
    name: "AppointmentCalendar",
    components: {
      Header,
      Sidebar,
      Modal,
      // SmallCalendar,
      // LargeCalendar,
      VueCal,
      Datepicker
    },
    data: () => ({
      selectedEvent: {},
      selectedDate: moment(String(new Date())).format('YYYY-MM-DD'),
      showDialog: false,
      events: events
    }),
    methods: {
      onEventClick (event, e) {
        this.selectedEvent = event
        this.showDialog = true
        e.stopPropagation()
      },
      handleSelectDate(event) {
        const date = moment(String(event)).format('YYYY-MM-DD')
        this.selectedDate = date
        console.log(date);
      }
    },
    setup() {
      const defaultValue = ref(new Date())
      return {
        defaultValue,
      }
    }
  }
</script>

<style>
.vuecal__flex.vuecal__body {
  min-height: 900px;
}
  .vuecal__time-column {
    width: 80px;
  }
  .vuecal__time-cell {
    /* height: 40px !important; */
    color: #000000 !important;
  }
  .vuecal__event {
    height: 80px !important;
    font-size: 13px;
    color: #000000 !important;
    width: 200px !important;
  }
  .vuejs3-datepicker__calendar {
    position: relative !important;
    top: -30px;
  }
  .vuejs3-datepicker__calendar-topbar {
    background-color: transparent;
    color: #333;
  }
  .vuejs3-datepicker__calendar .cell.selected, .vuejs3-datepicker__calendar .cell.selected:hover {
    background-color: #d9d9d9;
    color: #111;
    border: #d9d9d9;
    border-radius: 4px;
  }
  .vuejs3-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover, .vuejs3-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover, .vuejs3-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
    border: #d9d9d9;
  }
  .vuejs3-datepicker__calendar-topbar-year {
    display: none !important;
  }
  .vuecal__title-bar {
    display: none;
  }
  span.day__month_btn.up {
    visibility: hidden;
  }
</style>