<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/common.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/fonts.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
  <script type="text/javascript" src="assets/js/jquery.js"></script>
  <script type="text/javascript" src="assets/js/popper.js"></script>
  <script type="text/javascript" src="assets/js/topup.js"></script>
  <script type="text/javascript" src="assets/js/custom.js"></script>
  <script type="text/javascript" src="assets/js/iconify.min.js"></script>
  <script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.29.0/apexcharts.min.js"></script>
  <script type="text/javascript" src="assets/js/stepper.js"></script>
  <script type="text/javascript" src="assets/js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  
  <script >
     $(document).ready(function() {
    $(".next").click(function() {
       $('.stepper').parent().scrollTop(0);
       $(".stepperHead").find('.active').addClass('completed');
       $(".step").removeClass('active');
       console.log($(this).parent().parent().parent());
       $(this).parent().parent().parent().next().addClass('active');
    });
    $(".back").click(function() {
       $('.stepper').parent().scrollTop(0);

       $(".step").removeClass('active');
       $(this).parent().parent().parent().removeClass('completed');
       $(this).parent().parent().parent().prev().addClass('active');
    });
    $(".title").click(function() {
       $('.stepper').parent().scrollTop(0);
       var all_child = $(this).parent().parent().parent().children();
       var child = $(this).parent().parent()[0];
       var parent = child.parentNode;
       var index = Array.prototype.indexOf.call(parent.children, child);
       for (i = index; i < all_child.length; i++) {
          $(all_child[i]).removeClass('completed');
       }
       $(".step").removeClass('active');
       $(this).parent().parent().addClass('active');
    });
 })
 $(document).ready(function() {
    $('.js-example-basic-single').select2({
       placeholder: "Select a Patient",
    });
 });
 var options = {
    series: [25, 15, 44, 55, 41, 17],
    chart: {
       width: '100%',
       type: 'pie',
       height: 365,
    },
    labels: ["Total Patients", "New Patients", "Critical Patients", "Abnormal Patients", "Active Patients", "Inactive Patients"],
    theme: {
       monochrome: {
          enabled: true
       }
    },
    plotOptions: {
       pie: {
          dataLabels: {
             offset: -5
          }
       }
    },
    title: {
       text: "Total Patients Chart"
    },
    dataLabels: {
       formatter(val, opts) {
          const name = opts.w.globals.labels[opts.seriesIndex]
          return [name, val.toFixed(1) + '%']
       }
    },
    legend: {
       show: false
    }
 };

 var chart = new ApexCharts(document.querySelector("#chart"), options);
 chart.render();
 var options = {
    series: [{
       name: 'series1',
       data: [31, 40, 28, 51, 42, 109, 100]
    }],
    chart: {
       height: 350,
       type: 'area',
       toolbar: {
          show: false,
       }
    },
    title: {
       text: "Appointment Summary"
    },
    dataLabels: {
       enabled: false
    },
    stroke: {
       curve: 'smooth'
    },
    xaxis: {
       type: 'text',
       categories: ["Jan", "Feb", "Mar", "April", "May", "Jun", "July"]
    },
    tooltip: {
       toolbar: 'false',
       x: {
          format: 'dd/MM/yy HH:mm'
       },
    },
 };

 var chart = new ApexCharts(document.querySelector("#chart2"), options);
 chart.render();
  </script>
  
  <script>
    $('.fullCalendarBtn').click(function() {
       $('.leftCalendarView').addClass('d-none');
       $('.rightCalendarView').addClass('col-sm-12');
       $('.fullCalendarBtn').addClass('d-none');
       $('.rightCalendarView').removeClass('col-sm-9');
       $('.HideCalendarBtn').removeClass('d-none');
    });
    $('.HideCalendarBtn').click(function() {
       $('.leftCalendarView').removeClass('d-none');
       $('.rightCalendarView').removeClass('col-sm-12');
       $('.rightCalendarView').addClass('col-sm-9');
       $('.HideCalendarBtn').addClass('d-none');
       $('.fullCalendarBtn').removeClass('d-none');
    });
 </script>
 <script>
    $(document).ready(function() {
       $('.js-example-basic-single').select2({
          placeholder: "Select a Patient",
       });
    });
 </script>
 

<script>
   $(function() {
      $(".datepicker").datepicker();
   });
</script>
 <script>
   
   $(".tags").select2({
      tags: true,
      tokenSeparators: [',', ' ']
   })
</script>
<script>
   var options = {
      series: [{
            name: "Systolic  ",
            data: [120, 125, 140, 110, 122],
            color: '#ff0000'
         },
         {
            name: "Diastolic ",
            data: [80, 82, 90, 60, 78],
            color: '#228B22'
         },
      ],
      chart: {
         toolbar: {
            show: false,
         },
         height: 280,
         type: 'line',
         zoom: {
            enabled: false
         },
      },
      dataLabels: {

      },
      stroke: {
         width: [5, 7, 5],
         curve: 'straight',
         dashArray: [0, 8, 5],
         colors: ['#ff0000', '#228B22']
      },

      legend: {
         tooltipHoverFormatter: function(val, opts) {
            return val + ' - ' + opts.w.globals.series[opts.seriesIndex][opts.dataPointIndex] + ''
         }
      },
      markers: {
         size: 0,
         hover: {
            sizeOffset: 6
         }
      },
      xaxis: {
         categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May'],
      },
      tooltip: {
         y: [{
               title: {
                  formatter: function(val) {
                     return val + " (mins)"
                  }
               }
            },
            {
               title: {
                  formatter: function(val) {
                     return val + " per session"
                  }
               }
            },
            {
               title: {
                  formatter: function(val) {
                     return val;
                  }
               }
            }
         ]
      },
      grid: {
         borderColor: '#f1f1f1',
      }
   };

   var chart = new ApexCharts(document.querySelector("#chart1"), options);
   chart.render();
</script>
<script>
   var options = {
      series: [{
         name: "Heart Rate",
         data: [68, 70, 65, 80, 90],
         color: '#FFA500'
      }],
      chart: {
         toolbar: {
            show: false,
         },
         height: 280,
         type: 'line',
         zoom: {
            enabled: false
         },
      },
      dataLabels: {
         enabled: false
      },
      stroke: {
         width: [5, 7, 5],
         curve: 'straight',
         dashArray: [0, 8, 5],
         colors: ['#FFA500']
      },

      legend: {
         tooltipHoverFormatter: function(val, opts) {
            return val + ' - ' + opts.w.globals.series[opts.seriesIndex][opts.dataPointIndex] + ''
         }
      },
      markers: {
         size: 0,
         hover: {
            sizeOffset: 6
         }
      },
      xaxis: {
         categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May'],
      },
      tooltip: {
         y: [{
               title: {
                  formatter: function(val) {
                     return val + " (mins)"
                  }
               }
            },
            {
               title: {
                  formatter: function(val) {
                     return val + " per session"
                  }
               }
            },
            {
               title: {
                  formatter: function(val) {
                     return val;
                  }
               }
            }
         ]
      },
      grid: {
         borderColor: '#f1f1f1',
      }
   };

   var chart = new ApexCharts(document.querySelector("#chart2"), options);
   chart.render();
</script>
<script>
   var options = {
      series: [{
            name: "  ",
            data: [0, 0, 0, 0, 0],
            colors: ['#000']
         },

      ],
      chart: {
         toolbar: {
            show: false,
         },
         height: 280,
         type: 'line',
         zoom: {
            enabled: false
         },
      },
      stroke: {
         width: [5, 7, 5],
         curve: 'straight',
         dashArray: [0, 8, 5],

      },

      legend: {
         tooltipHoverFormatter: function(val, opts) {
            return val + ' - ' + opts.w.globals.series[opts.seriesIndex][opts.dataPointIndex] + ''
         }
      },
      markers: {
         size: 0,
         hover: {
            sizeOffset: 6
         }
      },
      xaxis: {
         categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May'],
      },
      tooltip: {
         y: [{
               title: {
                  formatter: function(val) {
                     return val + " (mins)"
                  }
               }
            },
            {
               title: {
                  formatter: function(val) {
                     return val + " per session"
                  }
               }
            },
            {
               title: {
                  formatter: function(val) {
                     return val;
                  }
               }
            }
         ]
      },
      grid: {
         borderColor: '#f1f1f1',
      }
   };

   var chart = new ApexCharts(document.querySelector("#chart4"), options);
   chart.render();
</script>
<script>
   var options = {
      series: [{
            name: "FBS  ",
            data: [115, 90, 100, 115, 105],
            color: '#ff0000'
         },
         {
            name: "RBS ",
            data: [130, 125, 140],
            color: '#FFA500'
         },
      ],
      chart: {
         toolbar: {
            show: false,
         },
         height: 280,
         type: 'line',
         zoom: {
            enabled: false
         },
      },
      dataLabels: {
         enabled: false
      },
      stroke: {
         width: [5, 7, 5],
         curve: 'straight',
         dashArray: [0, 8, 5],
         colors: ['#ff0000', '#FFA500']
      },

      legend: {
         tooltipHoverFormatter: function(val, opts) {
            return val + ' - ' + opts.w.globals.series[opts.seriesIndex][opts.dataPointIndex] + ''
         }
      },
      markers: {
         size: 0,
         hover: {
            sizeOffset: 6
         }
      },
      xaxis: {
         categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May'],
      },
      tooltip: {
         y: [{
               title: {
                  formatter: function(val) {
                     return val + " (mins)"
                  }
               }
            },
            {
               title: {
                  formatter: function(val) {
                     return val + " per session"
                  }
               }
            },
            {
               title: {
                  formatter: function(val) {
                     return val;
                  }
               }
            }
         ]
      },
      grid: {
         borderColor: '#f1f1f1',
      }
   };

   var chart = new ApexCharts(document.querySelector("#chart3"), options);
   chart.render();
</script>
<script>
   $(document).ready(function() {
      $(".next").click(function() {
         $('.stepper').parent().scrollTop(0);
         $(".stepperHead").find('.active').addClass('completed');
         $(".step").removeClass('active');
         console.log($(this).parent().parent().parent());
         $(this).parent().parent().parent().next().addClass('active');
      });
      $(".back").click(function() {
         $('.stepper').parent().scrollTop(0);

         $(".step").removeClass('active');
         $(this).parent().parent().parent().removeClass('completed');
         $(this).parent().parent().parent().prev().addClass('active');
      });
      $(".title").click(function() {
         $('.stepper').parent().scrollTop(0);
         var all_child = $(this).parent().parent().parent().children();
         var child = $(this).parent().parent()[0];
         var parent = child.parentNode;
         var index = Array.prototype.indexOf.call(parent.children, child);
         for (i = index; i < all_child.length; i++) {
            $(all_child[i]).removeClass('completed');
         }
         $(".step").removeClass('active');
         $(this).parent().parent().addClass('active');
      });
   })
</script>
</html>
