<template>
    <div class="main">
        <Sidebar></Sidebar>
        <div class="pageWrapper">
          <Header></Header>
          <div class="contentWrapper">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-sm-12">
                     <h2 class="pageTittle">Dashboard</h2>
                  </div>
               </div>
               <div class="row">
                  <div class="col ">
                     <div class="topBox one">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        <h5>10</h5>
                        <p>Total Patients</p>
                     </div>
                  </div>
                  <div class="col ">
                     <div class="topBox two">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        <h5>12</h5>
                        <p>New Patients</p>
                     </div>
                  </div>
                  <div class="col ">
                     <div class="topBox three">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        <h5>10</h5>
                        <p>Critical Patients</p>
                     </div>
                  </div>
                  <div class="col ">
                     <div class="topBox four">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        <h5>15</h5>
                        <p>Abnormal Patients</p>
                     </div>
                  </div>
                  <div class="col ">
                     <div class="topBox five">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        <h5>22</h5>
                        <p>Active Patients</p>
                     </div>
                  </div>
                  <div class="col">
                     <div class="topBox six">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        <h5>7</h5>
                        <p>Inactive Patients</p>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-6">
                     <div class="card commonCard">
                        <div class="card-header">
                           <h4>Patients Stats</h4>
                        </div>
                        <ul class="list-group list-group-flush">
                           <li class="list-group-item">
                              <div class="img">
                                 <img src="assets/images/profile.jpg" alt="">
                              </div>
                              <div class="name">
                                 Jane Doe
                              </div>
                              <div class="progressBar">
                                 <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                 </div>
                              </div>
                           </li>
                           <li class="list-group-item">
                              <div class="img">
                                 <img src="assets/images/profile.jpg" alt="">
                              </div>
                              <div class="name">
                                 Jane Doe
                              </div>
                              <div class="progressBar">
                                 <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                 </div>
                              </div>
                           </li>
                           <li class="list-group-item">
                              <div class="img">
                                 <img src="assets/images/profile.jpg" alt="">
                              </div>
                              <div class="name">
                                 Jane Doe
                              </div>
                              <div class="progressBar">
                                 <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                 </div>
                              </div>
                           </li>
                        </ul>

                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="card commonCard">
                        <div class="card-header">
                           <div class="buttons">
                              <button class="btn">Virtual Waiting Room</button>
                              <button class="btn">Go to Calender</button>
                           </div>
                        </div>
                        <div class="card-body">
                           <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                              <li class="nav-item" role="presentation">
                                 <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">New Requests</button>
                              </li>
                              <li class="nav-item" role="presentation">
                                 <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Future Appointments</button>
                              </li>
                           </ul>
                           <table class="table table-borderless">
                              <thead>
                                 <tr>
                                    <th>Date</th>
                                    <th>Patient</th>
                                    <th>Action</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <td colspan="3" class="text-center">
                                       <p>No Appointment Request</p>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="chartBox">
                        <div class="chartBox">
                           <MonthlyChart v-bind:chartData="state.chartData" v-bind:chartOptions="state.chartOptions" />
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     
                  </div>
               </div>
            </div>
         </div>
        </div>
     </div>
  </template>
  
  <script>
import { createApp } from 'vue'
import Header from "@/components/Layout/Header.vue";
import Sidebar from "@/components/Layout/Sidebar.vue"
import App from '../../App.vue'
import { defineComponent } from 'vue'
import MonthlyChart from '@/components/chart/LineChart'
createApp(App).use(Header);
  export default defineComponent({
    name: 'home',
    components: {
      Header,
      Sidebar,
      MonthlyChart
    },

    data(){
       return{
         state: {
        chartData: {
          datasets: [
            {
              data: [25, 15, 44, 55, 41, 17],
              backgroundColor: [ 'Blue']
             
            }
          ],
          // These labels appear in the legend and in the tooltips when hovering different arcs
          labels: ["Total Patients", "New Patients", "Critical Patients", "Abnormal Patients", "Active Patients", "Inactive Patients"],
        },
        chartOptions: {
          responsive: false
        }
      }
    }
    
   },
   
    computed: {
      currentUser() {
        return this.$store.state.auth.user.user;
      }
    },
    mounted() {
  },
  Methode:{
  
  }
  });
  </script>