<template>
  <div class="sidebar">
    <div class="menuList">
      <ul>
        <li><router-link to="/" data-bs-toggle="tooltip" data-bs-placement="right" title="Dashboard"><span>Dashboard</span> <i class="fa fa-home" aria-hidden="true"></i></router-link></li>
        <li><router-link to="/messages" data-bs-toggle="tooltip" data-bs-placement="right" title="Manage Messages"><span>Manage Messages </span> <i class="fa fa-envelope" aria-hidden="true"></i></router-link></li>
        <li><router-link to="/care_coordinator" data-bs-toggle="tooltip" data-bs-placement="right" title="Manage Care Coordinator"><span>Manage Care Coordinator </span> <i class="fa fa-users" aria-hidden="true"></i></router-link></li>
        <li><router-link to="/manage_patients" data-bs-toggle="tooltip" data-bs-placement="right" title="Manage Patients"><span>Manage Patients</span> <i class="fa fa-bed" aria-hidden="true"></i></router-link></li>
        <li><router-link to="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="right" title="Assign Care Coordinator"><span>Assign Care Coordinator</span> <i class="fa fa-bed" aria-hidden="true"></i></router-link></li>
        <li><router-link to="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="right" title="Appointment Calendar"><span>Appointment Calendar</span> <i class="fa fa-calendar" aria-hidden="true"></i></router-link></li>
      </ul>
    </div>
  </div>
</template>