<template>
  <div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Appoinment Detail</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body appoinmentDetailModal">
          <div class="row">
            <div class="col-sm-6">
              <div class="mb-3 selectOption">
                <label for="exampleInputEmail1" class="form-label">Patient</label>
                <select class="js-example-basic-single">
                  <option>Search & Select Patient</option>
                  <option value="1">Jane Doe</option>
                  <option value="2">Steve Smith</option>
                  <option value="3">Joseph Spouse</option>
                  <option value="4">Robert Henry</option>
                </select>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="mb-3 selectOption">
                <label for="exampleInputEmail1" class="form-label">Staff</label>
                <select class="js-example-basic-single">
                  <option>Search & Select Staff</option>
                  <option value="1">Jane Doe</option>
                  <option value="2">Steve Smith</option>
                  <option value="3">Joseph Spouse</option>
                  <option value="4">Robert Henry</option>
                </select>                       
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Start Date</label>
                <input type="date" class="form-control" aria-describedby="emailHelp">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"> Time</label>
                <input type="time" class="form-control" aria-describedby="emailHelp">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Note</label>
                <textarea class="form-control" aria-describedby="emailHelp"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>
</template>