<template>
  <div class="loginWrapper">
    <div class="logIn">
      <div class="loginInner">
        <div class="row gx-0">
          <div class="col-sm-6">
            <div class="leftWrapper">
              <div>
                <div class="logo">
                  <img src="assets/images/logo-1.png" alt="">
                </div>
                <h2>Welcome to Virtare Care</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                  scrambled it to make a type specimen book.</p>
                <img class="rightImg" src="assets/images/circle.png">
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="rightWrapper">
              <img class="rightImg" src="assets/images/curve.png">
              <h2>Login</h2>
              <Form @submit="handleLogin" :validation-schema="schema">
                <div class="field">
                  <Field name="email" type="text" class="form-control" placeholder="Username" />
                  <ErrorMessage name="email" class="error-feedback" />
                </div>
                <div class="field">
                  <Field name="password" type="password" class="form-control" placeholder="Password" />
                  <ErrorMessage name="password" class="error-feedback" />
                </div>
                <div class="left-button">
                  <button  class="btn primaryBtn">Login</button>
                </div>
                <div class="form-group">
                  <div v-if="message" class="alert alert-danger" role="alert">
                    {{ message }}
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    

  </div>
</template>
    
<script>
  import { Form, Field, ErrorMessage } from "vee-validate"
  import * as yup from "yup";
  export default {
    name: "Login",
    components: {
      Form,
      Field,
      ErrorMessage,
    },
    data() {
      const schema = yup.object().shape({
        email: yup.string().required("Username is required!"),
        password: yup.string().required("Password is required!"),
      });

      return {
        loading: false,
        message: "",
        schema,
      };
    },
    computed: {
      loggedIn() {
        return this.$store.state.auth.status.loggedIn;
      },
    },
    created() {
      if (this.loggedIn) {
        this.$router.push("/");
      }
    },
    methods: {
      handleLogin(user) {
        this.loading = true;

        this.$store.dispatch("auth/login", user).then(
          () => {
            this.$router.push("/");
          },
          (error) => {
            this.loading = false;
            this.message =
              (error.response &&
                error.response.data &&
                error.response.data.message) ||
              error.message ||
              error.toString();
          }
        );
      },
    },
  };
</script>